@import "articles";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  width: 100%;
  margin: 0;
  background-color: #EEEEEE;
  font-family:'游ゴシック', 'Yu Gothic', monospace, sans-serif;
}

header {
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  top: 0px;
  box-shadow:0px 0px 2px #555;

  .home {
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    margin-left: 150px;

    &:hover{
      border-bottom-style: groove;
      color: #49a9d4;
    }
  }

  .logo {
    height: 30px;
  }

  .menu {
    display: flex;
    height: 30px;
    margin-right: 150px;
  }

  .new_post {
    width:150px;
    height: 30px;
    line-height: 30px;
    font-size:15px;
    text-decoration:none;
    display:block;
    text-align:center;
    color:#fff;
    background-color:#49a9d4;
    border-radius:5px;
    margin-left: 10px;
  }
  img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
  }
}

div#container {
  height: 100%;
  padding: 60px 150px;
}

.no-border-top {
  border-top: 0;
}

.message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.inner-message {
  margin: 0 auto;
}
