div#articles-container {
  display: flex;
  justify-content: space-between;

  .left {
    width: 30%;
    height: 300px;
    padding: 5px;
  }

  .right {
    width: 70%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;

    .avator {
      width: 30px;
      height: 30px;
      border-radius: 50px;
    }

    .new-post {
      padding: 10px;
      background-color: #E8F5FD;
    }
    .posts {
      padding: 8px;
    }
  }

  .box {
    background-color: #ffffff;
    box-shadow:0px 2px 2px #555;
    border-radius: 10px;
  }

  .heart {
    width: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}
