<div class="message">
  <div style="padding: 5px;">
    <div id="create-success-alert" class="alert alert-success inner-message" style="display: none;">
      投稿しました
    </div>

    <div id="create-failure-alert" class="alert alert-danger inner-message" style="display: none;">
      投稿に失敗しました
    </div>
  </div>
</div>
