<div class="dropdown">
  <a id="dLabel" class="my_profile" href="profile#show" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="/uploads/<%= @current_user.id %>.jpg" width="120px" /></a>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li>aaa</li>
    <li>あああ</li>
    <li role="separator" class="divider"></li>
    <li>あああ</li>
  </ul>
</div>
