<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">ツイートする</h4>
      </div>
      <div class="modal-body">
        <input id="tweet-text" type="text" placeholder="今何してる？" class="form-control"/>
      </div>
      <div class="modal-footer no-border-top">
        <button id="tweet-button" type="button" class="btn btn-primary">ツイート</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
